# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data & models (don't push large files to GitHub)
data/
models/*.pkl
models/*.joblib
reports/

# IDE / OS files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db